[submodule "airsim-helper"]
	path = airsim-helper
	url = https://github.com/mgmateus/airsim-helper.git
[submodule "open3d-helper"]
	path = open3d-helper
	url = https://github.com/mgmateus/open3d-helper.git
